openapi: 3.0.1
info:
  title: Huly Platform API
  description: >-
    Huly is an open-source, all-in-one project management and team collaboration
    platform. Programmatic access is provided primarily through the Node.js SDK
    @hcengineering/api-client, which connects to the Huly Platform transactor
    over a persistent WebSocket connection (connect) or via a REST client
    (connectRest), authenticating with email/password or a token. The SDK
    exposes document-oriented operations (findOne, findAll, createDoc,
    updateDoc, removeDoc, addCollection, updateCollection, removeCollection,
    createMixin, updateMixin) over the platform data model rather than a set of
    fixed, publicly documented REST resource paths.

    As of this writing, Huly does not publish a stable, public HTTP REST API
    with documented endpoint paths and request/response schemas. The platform's
    HTTP/WebSocket transports (account service and transactor) are
    self-hosted-configurable and intended to be consumed through the official
    SDK. To avoid fabricating endpoints, this document intentionally declares
    no paths. See the Huly API client documentation and examples for the
    supported, SDK-based interface.
  termsOfService: https://huly.io/
  contact:
    name: Huly (Hardcore Engineering)
    url: https://huly.io/
  license:
    name: Eclipse Public License 2.0
    url: https://www.eclipse.org/legal/epl-2.0/
  version: '1.0'
externalDocs:
  description: Huly API client (@hcengineering/api-client) documentation
  url: https://github.com/hcengineering/huly.core/blob/main/packages/api-client/README.md
servers:
  - url: https://huly.io
    description: >-
      Huly Cloud landing surface. The actual programmatic surface is the
      account service and transactor of a given Huly deployment (for example
      wss://<host>/transactor and https://<host>/account in self-hosted
      configurations), consumed via the official SDK rather than fixed
      public REST paths.
paths: {}
